---
import DefaultLayout from "#app/layouts/defaultLayout.astro";

import Photo from "#app/components/heroPhoto.astro";
import SocialLink from "#app/components/socialLink.astro";
import Link from "#app/components/link.astro";
import Divider from "#app/components/divider.astro";

let content = {
	name: "Иван Герасимов",
	role: "Fullstack Разработчик (JavaScript)",
	description: `
		<strong>Senior Fullstack разработчик с 9 годами опыта.</strong>
		Специализируюсь на разработке с использованием <strong>TypeScript</strong>,
		<strong>React</strong> и <strong>Node.js</strong>, а также на
		проектировании архитектуры веб-приложений, включая local-first с большим
		количеством логики на клиенте. Имею опыт управления командой, выстраивания
		процессов и кросс-командного взаимодействия в крупном продукте.
	`,
	email: {
		to: "ivan@gerasimov.dev",
		label: "ivan@gerasimov.dev",
	},
	cv: {
		link: "/ivan-gerasimov_cv_senior-fullstack-javascript_ru.pdf",
		label: "Скачать резюме",
	},
	socialLinks: {
		linkedin: {
			link: "https://linkedin.com/in/ivan-gerasimov",
			label: "Профиль LinkedIn",
		},
		github: {
			link: "https://github.com/ivan-gerasimov-1",
			label: "Профиль GitHub",
		},
	},
};
---

<DefaultLayout>
	<main class="main">
		<div class="profile">
			<Photo />

			<div class="about">
				<h1 class="name">{content.name}</h1>

				<span class="role">{content.role}</span>
			</div>

			<div class="description" set:html={content.description} />
			<div class="jobPlaces">
				<div class="jobPlace">Fundraise Up</div>
				<div class="jobPlace">Connio</div>
				<div class="jobPlace">Arm</div>
				<div class="jobPlace">E&F Research</div>
				<div class="jobPlace">Postcard&Tag</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<Divider />

		<div class="footerContent">
			<div class="socialLinks">
				<SocialLink
					name="linkedIn"
					url={content.socialLinks.linkedin.link}
					label={content.socialLinks.linkedin.label}
				/>

				<SocialLink
					name="github"
					url={content.socialLinks.github.link}
					label={content.socialLinks.github.label}
				/>

				<Link to={content.cv.link} target="_blank" download>
					{content.cv.label}
				</Link>
			</div>

			<Link to=`mailto:${content.email.to}`>{content.email.label}</Link>
		</div>
	</footer>
</DefaultLayout>

<style>
	.main {
		display: flex;
		justify-content: center;
		align-items: center;

		margin: auto 0;

		font-family: var(--ff-monospace);
		font-size: 1rem;
		line-height: 1.4;

		color: var(--fc-200);
	}

	.profile {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 2rem;

		@media (max-width: 768px) {
			& {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 768px) {
			& {
				margin-top: 1rem;
			}
		}
	}

	.name {
		margin: 0;

		font-family: var(--ff-transitional);
		font-size: clamp(1rem, 8vw, 7rem);
		font-weight: 800;

		letter-spacing: -0.5px;
		line-height: 1;
		white-space: nowrap;

		color: var(--fc-100);
	}

	.role {
		margin-top: 0.25rem;

		font-size: clamp(1rem, 2vw, 1.5rem);
		letter-spacing: -0.5px;
	}

	.description {
		max-width: 40rem;

		grid-column: 2;
		grid-row: 2;
	}

	.jobPlaces {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		grid-column: 2;
		grid-row: 3;

		grid-gap: 0.375rem;

		opacity: 0.75;
	}

	.jobPlace {
		padding: 0.375rem 0.625rem;

		font-size: 0.75rem;
		line-height: 1;

		color: var(--fc-300);

		background-color: var(--fc-100);

		border-radius: 0.625rem;
	}

	.footer {
		margin-top: 4rem;
	}

	.footerContent {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;

		margin: 0.75rem 0.5rem 0.5rem 0.5rem;
		gap: 1rem;

		font-family: var(--ff-monospace);
		font-size: 1rem;
		letter-spacing: -0.5px;

		color: var(--fc-200);
	}

	.socialLinks {
		display: grid;
		grid-template-columns: 1.5rem 1.5rem auto;
		grid-gap: 1rem;
	}
</style>
