---
import List from "#app/components/cv/list.astro";
import Optional from "#app/components/cv/optional.astro";
import Stack from "#app/components/cv/stack.astro";
import Text from "#app/components/cv/text.astro";

import type { TLocale } from "#app/i18n/types.ts";

type Props = {
	items: {
		company: string;
		position: string;
		years: string;
		additional?: string;
		summary: string;
		achievements?: string[];
		skills?: string;
	}[];
};

let { items } = Astro.props;
let locale: TLocale = (Astro.currentLocale ?? "en") as TLocale;

let achievementsSectionTitleI18n: Record<TLocale, string> = {
	en: "Key Achievements:",
	ru: "Основные достижения:",
};

let content = {
	achievementsSectionTitle: achievementsSectionTitleI18n[locale],
};
---

<Stack class="gap-6 mt-4">
	{
		items.map((item) => (
			<div>
				<Stack type="line" justifyContent="between">
					<Text bold>{item.company}</Text>
					<Text bold>{item.position}</Text>
				</Stack>

				<Stack type="line" justifyContent="between">
					<Text type="secondary">{item.years}</Text>

					<Optional condition={item.additional}>
						<Text color="secondary" height="secondary">
							{item.additional}
						</Text>
					</Optional>
				</Stack>

				<div class="mt-100">
					<Text>{item.summary}</Text>

					<Optional condition={item.achievements}>
						<List
							class="mt-100"
							title={content.achievementsSectionTitle}
							items={item.achievements}
							spacing="small"
						>
							{(achievement: string) => <Text>{achievement}</Text>}
						</List>
					</Optional>

					<Optional condition={item.skills}>
						<Text class="mt-100" type="secondary">
							{item.skills}
						</Text>
					</Optional>
				</div>
			</div>
		))
	}
</Stack>
