---
import Text from "#app/components/cv/text.astro";

type TLocale = "en" | "ru";
type Props = {
	items: {
		company: string;
		position: string;
		years: string;
		additional?: string;
		summary: string;
		achievements?: string[];
		skills?: string;
	}[];
};

let { items } = Astro.props;
let locale: TLocale = (Astro.currentLocale ?? "en") as TLocale;

let achievementsSectionTitleI18n: Record<TLocale, string> = {
	en: "Key Achievements:",
	ru: "Основные достижения:",
};

let content = {
	achievementsSectionTitle: achievementsSectionTitleI18n[locale],
};
---

{
	items.map((item) => (
		<div class="itemContainer">
			<div class="d-flex f-space-between">
				<Text bold>{item.company}</Text>
				<Text bold>{item.position}</Text>
			</div>

			<div class="d-flex f-space-between">
				<Text type="secondary">{item.years}</Text>

				{item.additional && (
					<Text color="secondary" height="secondary">
						{item.additional}
					</Text>
				)}
			</div>

			<div class="mt-100">
				<Text>{item.summary}</Text>

				{item.achievements && (
					<ul class="mt-100">
						<Text>{content.achievementsSectionTitle}</Text>

						{item.achievements.map((achievement) => (
							<li class="listItem mt-80">
								<Text>{achievement}</Text>
							</li>
						))}
					</ul>
				)}

				{item.skills && (
					<Text class="mt-100" type="secondary">
						{item.skills}
					</Text>
				)}
			</div>
		</div>
	))
}

<style>
	.itemContainer {
		margin-top: 1.5rem;

		&:first-child {
			margin-top: 1rem;
		}
	}
</style>
