---
import ExperienceList from "#app/components/cv/experienceList.astro";
import Link from "#app/components/cv/link.astro";
import List from "#app/components/cv/list.astro";
import Optional from "#app/components/cv/optional.astro";
import Pills from "#app/components/cv/pills.astro";
import Section from "#app/components/cv/section.astro";
import Stack from "#app/components/cv/stack.astro";
import Text from "#app/components/cv/text.astro";

import photo from "#app/assets/ivan-gerasimov_photo.webp";

type Props = {
	content: {
		name: string;
		occupation: string;
		about: string;
		location: string;
		links: {
			url: string;
			title: string;
		}[];
		contacts: {
			label: string;
			contact: string;
		}[];
		languages: {
			name: string;
			level?: string;
		}[];
		skills: string[];
		employmentHistory: {
			company: string;
			position: string;
			years: string;
			additional: string;
			summary: string;
			achievements: string[];
			skills: string;
		}[];
		additionalActivities: {
			company: string;
			position: string;
			years: string;
			summary: string;
		}[];
		education: {
			institution: string;
			years: string;
		}[];
	};
	sectionTitle: Record<
		| "about"
		| "languages"
		| "employmentHistory"
		| "skills"
		| "education"
		| "additionalActivities",
		string
	>;
};

let { content, sectionTitle } = Astro.props;
---

<main class="grid">
	<div
		style={{
			gridArea: "photo",
		}}
	>
		<img
			src={photo.src}
			width={120}
			height={120}
			alt="Ivan Gerasimov, headshot photo"
			class="photo"
		/>
	</div>

	<Stack
		class="pt-95 pb-95"
		style={{
			gridArea: "profile",
		}}
		justifyContent="between"
	>
		<Stack>
			<h1 class="fs-primary-120">
				{content.name}
			</h1>

			<h2 class="mt-90 font-secondary fs-secondary-110">
				{content.occupation}
			</h2>
		</Stack>

		<Stack class="mt-110">
			{
				content.links.map((link) => (
					<Link class="mt-90" url={link.url}>
						{link.title}
					</Link>
				))
			}
		</Stack>
	</Stack>

	<Stack
		style={{
			gridArea: "contact",
		}}
		alignItems="end"
	>
		<Text>{content.location}</Text>

		<div class="mt-90">
			{
				content.contacts.map((contact) => (
					<Stack class="mt-100" alignItems="end">
						<Text color="secondary" height="base">
							{contact.label}
						</Text>

						<Text height="base" class="mt-90">
							{contact.contact}
						</Text>
					</Stack>
				))
			}
		</div>
	</Stack>

	<div
		class="pr-120"
		style={{
			gridArea: "about",
		}}
	>
		<Section title={sectionTitle.about}>
			<Text html={content.about} />
		</Section>
	</div>

	<div
		style={{
			gridArea: "languages",
		}}
	>
		<Section title={sectionTitle.languages}>
			<List items={content.languages}>
				{
					(language: { name: string; level?: string }) => (
						<>
							<Text height="secondary">{language.name}</Text>

							<Optional condition={language.level}>
								<Text type="secondary">{language.level}</Text>
							</Optional>
						</>
					)
				}
			</List>
		</Section>
	</div>

	<div
		id="employmentHistory"
		class="pr-120"
		style={{
			gridArea: "employmentHistory",
		}}
	>
		<Section title={sectionTitle.employmentHistory}>
			<ExperienceList items={content.employmentHistory} />
		</Section>
	</div>

	<div
		style={{
			gridArea: "skills",
		}}
	>
		<Section title={sectionTitle.skills}>
			<Pills items={content.skills} />
		</Section>

		<div class="mt-200"></div>

		<Section title={sectionTitle.education}>
			<List items={content.education}>
				{
					(item: { institution: string; years: string }) => (
						<>
							<Text height="secondary">{item.institution}</Text>
							<Text type="secondary">{item.years}</Text>
						</>
					)
				}
			</List>
		</Section>
	</div>

	<div
		style={{
			gridArea: "additionalActivities",
		}}
	>
		<Section title={sectionTitle.additionalActivities}>
			<ExperienceList items={content.additionalActivities} />
		</Section>
	</div>
</main>

<style>
	.grid {
		max-width: var(--resume-width);

		margin: 0 auto;
		padding: var(--resume-padding);

		display: grid;
		grid-template-columns: 1fr 4fr 1.5fr;
		grid-template-areas:
			"photo profile contact"
			"about about languages"
			"employmentHistory employmentHistory skills"
			"additionalActivities additionalActivities skills";
		gap: 1.25rem;
	}

	.photo {
		border-radius: 15%;
	}
</style>
