---
type Props = {
	html?: string;
	class?: string;
	bold?: boolean;
	type?: "primary" | "secondary";
	color?: "primary" | "secondary";
	height?: "base" | "primary" | "secondary";
};

let {
	html,
	class: className = [],
	bold = false,
	type = "primary",
} = Astro.props;

let color = Astro.props.color ?? type;
let height = Astro.props.height ?? type;

let classList = [
	"text",
	className,
	`fc-${color}`,
	`lh-${height}`,
	{
		bold,
		"font-secondary": type === "secondary",
	},
];
---

{
	html ? (
		<p class:list={classList} set:html={html} />
	) : (
		<p class:list={classList}>
			<slot />
		</p>
	)
}

<style>
	.bold {
		font-weight: var(--fw-110);
	}
</style>
